*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#screen{
    border: 5px solid #bbb;
    width: 500px;
    height: 500px;
    image-rendering: pixelated;
    background-color: #000000;
}

.paleta {
    color: #07000f
}